<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  <div class="mx-auto items-center text-center my-auto justify-center pt-12">
    <img src="https://ih1.redbubble.net/image.1943889042.2181/raf,360x360,075,t,fafafa:ca443f4786.jpg" class="max-w-64 max-h-64 mx-auto flex justify-center" alt="">
    <h1 class="text-6xl text-light">WELCOME TO FIGO</h1>
    <p class="text-xl font-semibold mt-4">The simplest Go Fiber and HTMX template.</p>
  </div>
  </body>
</html>
